USE [master]
GO
/****** Object:  Database [KPDB]    Script Date: 25/04/2021 21:52:06 ******/
CREATE DATABASE [KPDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KPDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KPDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KPDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\KPDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KPDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KPDB]
GO
/****** Object:  User [KPADMIN]    Script Date: 25/04/2021 21:52:06 ******/
CREATE USER [KPADMIN] FOR LOGIN [Admin] WITH DEFAULT_SCHEMA=[db_owner]
GO
USE [KPDB]
GO
/****** Object:  Sequence [dbo].[NRO_ORD_SEQ]    Script Date: 25/04/2021 21:52:06 ******/
CREATE SEQUENCE [dbo].[NRO_ORD_SEQ] 
 AS [smallint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -32768
 MAXVALUE 32767
 NO CACHE 
GO
/****** Object:  UserDefinedTableType [dbo].[DETALLETAREA]    Script Date: 25/04/2021 21:52:06 ******/
CREATE TYPE [dbo].[DETALLETAREA] AS TABLE(
	[ORDEN_TAREA] [int] NULL,
	[NOMBRE_TAREA] [varchar](100) NOT NULL,
	[OBSERVACION] [varchar](100) NULL,
	[FABRICACION_ID] [int] NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[Type_detalle_Proceso]    Script Date: 25/04/2021 21:52:06 ******/
CREATE TYPE [dbo].[Type_detalle_Proceso] AS TABLE(
	[Fabricacion_id] [int] NULL,
	[tarea_id] [int] NULL,
	[realiza] [int] NULL,
	[controluno] [int] NULL,
	[controldos] [int] NULL,
	[fecha] [datetime] NULL,
	[nro_fabricacion] [int] NULL
)
GO
/****** Object:  Table [dbo].[DOCUM]    Script Date: 25/04/2021 21:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUM](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](100) NULL,
	[DOC] [varchar](250) NULL,
	[FABRICACION_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FABRICACION]    Script Date: 25/04/2021 21:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FABRICACION](
	[IDFABRICACION] [int] IDENTITY(1,1) NOT NULL,
	[FABRICACION_NOMBRE] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDFABRICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HERRAMIENTAS]    Script Date: 25/04/2021 21:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HERRAMIENTAS](
	[IDHERRAMIENTA] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION_HERRAMIENTA] [varchar](250) NULL,
	[TIPO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDHERRAMIENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NUEVA_FABRICACION]    Script Date: 25/04/2021 21:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NUEVA_FABRICACION](
	[IDNUEVAFABRICACION] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_INICIO] [datetime] NULL,
	[OBSERVACIONES] [varchar](250) NULL,
	[COMPLETADA] [bit] NULL,
	[IDUSUARIO] [int] NULL,
	[NROFABRICACION] [varchar](50) NULL,
	[FABRICACION_ID] [int] NULL,
	[FECHA_CIERRE] [datetime] NULL,
	[ESTADO] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDNUEVAFABRICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN_HERRAMIENTAS]    Script Date: 25/04/2021 21:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN_HERRAMIENTAS](
	[FABRICACION_ID] [int] NULL,
	[HERRAMIENTA_ID] [int] NULL,
	[CANTIDAD] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROCESO_FABRICACION]    Script Date: 25/04/2021 21:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROCESO_FABRICACION](
	[IDPROCESOFABRICACION] [int] IDENTITY(1,1) NOT NULL,
	[FABRICACION_ID] [int] NULL,
	[TAREA_ID] [int] NULL,
	[REALIZA] [int] NULL,
	[CONTROLUNO] [int] NULL,
	[CONTROLDOS] [int] NULL,
	[FECHA] [datetime] NULL,
	[NRO_FABRICACION] [int] NULL,
	[NOTAS] [varchar](250) NULL,
	[FECHA_FIN] [datetime] NULL,
	[T_REAL] [int] NULL,
	[CONSUMO_UNO] [int] NULL,
	[CONSUMO_DOS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDPROCESOFABRICACION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 25/04/2021 21:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[IDROL] [int] IDENTITY(1,1) NOT NULL,
	[ROL_DESCRIP] [varchar](10) NULL,
	[ESTADO] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDROL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAREA]    Script Date: 25/04/2021 21:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREA](
	[IDTAREA] [int] IDENTITY(1,1) NOT NULL,
	[ORDEN_TAREA] [int] NULL,
	[NOMBRE_TAREA] [varchar](100) NOT NULL,
	[OBSERVACION] [varchar](100) NULL,
	[FABRICACION_ID] [int] NULL,
	[FABRICACION_NRO] [int] NULL,
	[T_ESTIMADO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDTAREA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 25/04/2021 21:52:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[IDUSUARIO] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO_NOMBRE] [varchar](50) NULL,
	[ROL_ID] [int] NULL,
	[ESTADO] [bit] NULL,
	[contraseña] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDUSUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DOCUM] ON 

INSERT [dbo].[DOCUM] ([ID], [NOMBRE], [DOC], [FABRICACION_ID]) VALUES (1, N'sgaitan', N'C:\Users\SOLE\Downloads\23249161144_011_00002_00000016.pdf', 99)
INSERT [dbo].[DOCUM] ([ID], [NOMBRE], [DOC], [FABRICACION_ID]) VALUES (2, N'sgaitan', N'C:\Users\SOLE\Downloads\FICHA ALUMNO.docx', 98)
SET IDENTITY_INSERT [dbo].[DOCUM] OFF
GO
SET IDENTITY_INSERT [dbo].[FABRICACION] ON 

INSERT [dbo].[FABRICACION] ([IDFABRICACION], [FABRICACION_NOMBRE]) VALUES (1, N'CONTROL PROCESO FABRICACION TK')
INSERT [dbo].[FABRICACION] ([IDFABRICACION], [FABRICACION_NOMBRE]) VALUES (2, N'prueba de fabricacion')
INSERT [dbo].[FABRICACION] ([IDFABRICACION], [FABRICACION_NOMBRE]) VALUES (3, N'PRUEBA DE FAB 3')
SET IDENTITY_INSERT [dbo].[FABRICACION] OFF
GO
SET IDENTITY_INSERT [dbo].[HERRAMIENTAS] ON 

INSERT [dbo].[HERRAMIENTAS] ([IDHERRAMIENTA], [DESCRIPCION_HERRAMIENTA], [TIPO]) VALUES (1, N'Resina TPS-21', N'Kit Laminado')
INSERT [dbo].[HERRAMIENTAS] ([IDHERRAMIENTA], [DESCRIPCION_HERRAMIENTA], [TIPO]) VALUES (2, N'Resina  Derakane 411', N'Kit Laminado')
INSERT [dbo].[HERRAMIENTAS] ([IDHERRAMIENTA], [DESCRIPCION_HERRAMIENTA], [TIPO]) VALUES (3, N'Resina  Dion Impact', N'Kit Laminado')
SET IDENTITY_INSERT [dbo].[HERRAMIENTAS] OFF
GO
SET IDENTITY_INSERT [dbo].[NUEVA_FABRICACION] ON 

INSERT [dbo].[NUEVA_FABRICACION] ([IDNUEVAFABRICACION], [FECHA_INICIO], [OBSERVACIONES], [COMPLETADA], [IDUSUARIO], [NROFABRICACION], [FABRICACION_ID], [FECHA_CIERRE], [ESTADO]) VALUES (84, CAST(N'2021-03-30T00:11:24.940' AS DateTime), N'', 0, 19, N'A1', 1, CAST(N'2021-04-07T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[NUEVA_FABRICACION] ([IDNUEVAFABRICACION], [FECHA_INICIO], [OBSERVACIONES], [COMPLETADA], [IDUSUARIO], [NROFABRICACION], [FABRICACION_ID], [FECHA_CIERRE], [ESTADO]) VALUES (85, CAST(N'2021-03-30T00:12:12.830' AS DateTime), N'', 1, 19, N'A2', 3, CAST(N'2021-04-06T18:21:48.313' AS DateTime), NULL)
INSERT [dbo].[NUEVA_FABRICACION] ([IDNUEVAFABRICACION], [FECHA_INICIO], [OBSERVACIONES], [COMPLETADA], [IDUSUARIO], [NROFABRICACION], [FABRICACION_ID], [FECHA_CIERRE], [ESTADO]) VALUES (86, CAST(N'2021-03-31T13:43:27.153' AS DateTime), N'', 1, 19, N'2021-01', 1, CAST(N'2021-04-06T18:19:51.543' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[NUEVA_FABRICACION] OFF
GO
INSERT [dbo].[ORDEN_HERRAMIENTAS] ([FABRICACION_ID], [HERRAMIENTA_ID], [CANTIDAD]) VALUES (92, 2, 1)
INSERT [dbo].[ORDEN_HERRAMIENTAS] ([FABRICACION_ID], [HERRAMIENTA_ID], [CANTIDAD]) VALUES (92, 4, 1)
INSERT [dbo].[ORDEN_HERRAMIENTAS] ([FABRICACION_ID], [HERRAMIENTA_ID], [CANTIDAD]) VALUES (92, 6, 3)
GO
SET IDENTITY_INSERT [dbo].[PROCESO_FABRICACION] ON 

INSERT [dbo].[PROCESO_FABRICACION] ([IDPROCESOFABRICACION], [FABRICACION_ID], [TAREA_ID], [REALIZA], [CONTROLUNO], [CONTROLDOS], [FECHA], [NRO_FABRICACION], [NOTAS], [FECHA_FIN], [T_REAL], [CONSUMO_UNO], [CONSUMO_DOS]) VALUES (6906, 1, 1, 19, 22, 22, CAST(N'2021-04-10T11:08:05.543' AS DateTime), 99, N'F', CAST(N'2021-04-10T00:00:00.000' AS DateTime), 1, 2, 2)
INSERT [dbo].[PROCESO_FABRICACION] ([IDPROCESOFABRICACION], [FABRICACION_ID], [TAREA_ID], [REALIZA], [CONTROLUNO], [CONTROLDOS], [FECHA], [NRO_FABRICACION], [NOTAS], [FECHA_FIN], [T_REAL], [CONSUMO_UNO], [CONSUMO_DOS]) VALUES (6907, 1, 2, 19, 20, 20, CAST(N'2021-04-10T11:08:05.543' AS DateTime), 99, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[PROCESO_FABRICACION] ([IDPROCESOFABRICACION], [FABRICACION_ID], [TAREA_ID], [REALIZA], [CONTROLUNO], [CONTROLDOS], [FECHA], [NRO_FABRICACION], [NOTAS], [FECHA_FIN], [T_REAL], [CONSUMO_UNO], [CONSUMO_DOS]) VALUES (6908, 1, 3, 19, 20, 20, CAST(N'2021-04-10T11:08:05.543' AS DateTime), 99, NULL, NULL, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[PROCESO_FABRICACION] OFF
GO
SET IDENTITY_INSERT [dbo].[ROL] ON 

INSERT [dbo].[ROL] ([IDROL], [ROL_DESCRIP], [ESTADO]) VALUES (1, N'ADMIN', 1)
INSERT [dbo].[ROL] ([IDROL], [ROL_DESCRIP], [ESTADO]) VALUES (2, N'USUARIO', 1)
INSERT [dbo].[ROL] ([IDROL], [ROL_DESCRIP], [ESTADO]) VALUES (3, N'SUPERVISOR', 1)
SET IDENTITY_INSERT [dbo].[ROL] OFF
GO
SET IDENTITY_INSERT [dbo].[TAREA] ON 

INSERT [dbo].[TAREA] ([IDTAREA], [ORDEN_TAREA], [NOMBRE_TAREA], [OBSERVACION], [FABRICACION_ID], [FABRICACION_NRO], [T_ESTIMADO]) VALUES (1, 10, N'LIMPIEZA DE MATRIZ', N'FONDO', 1, NULL, NULL)
INSERT [dbo].[TAREA] ([IDTAREA], [ORDEN_TAREA], [NOMBRE_TAREA], [OBSERVACION], [FABRICACION_ID], [FABRICACION_NRO], [T_ESTIMADO]) VALUES (2, 20, N'ENCERADO', N'FONDO', 1, NULL, NULL)
INSERT [dbo].[TAREA] ([IDTAREA], [ORDEN_TAREA], [NOMBRE_TAREA], [OBSERVACION], [FABRICACION_ID], [FABRICACION_NRO], [T_ESTIMADO]) VALUES (3, 30, N'COLOCACION DE VELO', N'FONDO', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TAREA] OFF
GO
SET IDENTITY_INSERT [dbo].[USUARIO] ON 

INSERT [dbo].[USUARIO] ([IDUSUARIO], [USUARIO_NOMBRE], [ROL_ID], [ESTADO], [contraseña]) VALUES (19, N'sgaitan', 3, 1, 0x03AC674216F3E15C761EE1A5E255F067953623C8B388B4459E13F978D7C846F4)
INSERT [dbo].[USUARIO] ([IDUSUARIO], [USUARIO_NOMBRE], [ROL_ID], [ESTADO], [contraseña]) VALUES (20, N'PENDIENTE', 2, 1, 0x307BCA9E273E362DAE7B88DDBD78E4F1F53B48B64D11775C441FA01CA782D500)
INSERT [dbo].[USUARIO] ([IDUSUARIO], [USUARIO_NOMBRE], [ROL_ID], [ESTADO], [contraseña]) VALUES (22, N'admin', 1, 1, 0x03AC674216F3E15C761EE1A5E255F067953623C8B388B4459E13F978D7C846F4)
SET IDENTITY_INSERT [dbo].[USUARIO] OFF
GO
ALTER TABLE [dbo].[ROL] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[USUARIO] ADD  DEFAULT ((1)) FOR [ESTADO]
GO
ALTER TABLE [dbo].[NUEVA_FABRICACION]  WITH CHECK ADD FOREIGN KEY([FABRICACION_ID])
REFERENCES [dbo].[FABRICACION] ([IDFABRICACION])
GO
ALTER TABLE [dbo].[NUEVA_FABRICACION]  WITH CHECK ADD FOREIGN KEY([IDUSUARIO])
REFERENCES [dbo].[USUARIO] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[ORDEN_HERRAMIENTAS]  WITH CHECK ADD FOREIGN KEY([FABRICACION_ID])
REFERENCES [dbo].[NUEVA_FABRICACION] ([IDNUEVAFABRICACION])
GO
ALTER TABLE [dbo].[ORDEN_HERRAMIENTAS]  WITH CHECK ADD FOREIGN KEY([HERRAMIENTA_ID])
REFERENCES [dbo].[HERRAMIENTAS] ([IDHERRAMIENTA])
GO
ALTER TABLE [dbo].[PROCESO_FABRICACION]  WITH CHECK ADD FOREIGN KEY([CONTROLUNO])
REFERENCES [dbo].[USUARIO] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[PROCESO_FABRICACION]  WITH CHECK ADD FOREIGN KEY([CONTROLDOS])
REFERENCES [dbo].[USUARIO] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[PROCESO_FABRICACION]  WITH CHECK ADD FOREIGN KEY([FABRICACION_ID])
REFERENCES [dbo].[FABRICACION] ([IDFABRICACION])
GO
ALTER TABLE [dbo].[PROCESO_FABRICACION]  WITH CHECK ADD FOREIGN KEY([NRO_FABRICACION])
REFERENCES [dbo].[NUEVA_FABRICACION] ([IDNUEVAFABRICACION])
GO
ALTER TABLE [dbo].[PROCESO_FABRICACION]  WITH CHECK ADD FOREIGN KEY([REALIZA])
REFERENCES [dbo].[USUARIO] ([IDUSUARIO])
GO
ALTER TABLE [dbo].[PROCESO_FABRICACION]  WITH CHECK ADD FOREIGN KEY([TAREA_ID])
REFERENCES [dbo].[TAREA] ([IDTAREA])
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD FOREIGN KEY([FABRICACION_ID])
REFERENCES [dbo].[FABRICACION] ([IDFABRICACION])
GO
ALTER TABLE [dbo].[TAREA]  WITH CHECK ADD FOREIGN KEY([FABRICACION_NRO])
REFERENCES [dbo].[NUEVA_FABRICACION] ([IDNUEVAFABRICACION])
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD FOREIGN KEY([ROL_ID])
REFERENCES [dbo].[ROL] ([IDROL])
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZA_CONTROL_PROCESO_FABRICACION]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ACTUALIZA_CONTROL_PROCESO_FABRICACION]
@CONTROLUNO INT,
@CONTROLDOS INT,
@ID INT
AS

UPDATE PROCESO_FABRICACION 
SET CONTROLUNO=@CONTROLUNO, CONTROLDOS=@CONTROLDOS WHERE NRO_FABRICACION=@ID
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZA_TAREAS_PROCESO_C1]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ACTUALIZA_TAREAS_PROCESO_C1]
@IDFABRICACION INT,
@IDTAREA INT,
@CONTROLUNO INT,
@FECHA DATETIME,
@NOTAS VARCHAR,
@CONSUMORESINA INT,
@CONSUMOFIBRA INT


AS
UPDATE PROCESO_FABRICACION SET CONTROLUNO=@CONTROLUNO,FECHA=@FECHA,NOTAS=@NOTAS,
CONSUMO_UNO=@CONSUMORESINA, CONSUMO_DOS=@CONSUMOFIBRA
WHERE NRO_FABRICACION=@IDFABRICACION AND TAREA_ID=@IDTAREA
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZA_TAREAS_PROCESO_C2]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ACTUALIZA_TAREAS_PROCESO_C2]
@IDFABRICACION INT,
@IDTAREA INT,
@CONTROLDOS INT,
@FECHA DATETIME,
@NOTAS VARCHAR,
@FECHA_FIN DATETIME,
@T_REAL int,
@CONSUMORESINA INT,
@CONSUMOFIBRA INT

AS
UPDATE PROCESO_FABRICACION SET CONTROLDOS=@CONTROLDOS,FECHA=@FECHA,NOTAS=@NOTAS, FECHA_FIN=@FECHA_FIN, T_REAL=@T_REAL,
CONSUMO_UNO=@CONSUMORESINA, CONSUMO_DOS=@CONSUMOFIBRA
WHERE NRO_FABRICACION=@IDFABRICACION AND TAREA_ID=@IDTAREA
GO
/****** Object:  StoredProcedure [dbo].[CIERRA_ORDEN]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CIERRA_ORDEN]
@ID INT,
@chk int,
@fecha_cierre DATETIME,
@ESTADO VARCHAR(20)
As
UPDATE NUEVA_FABRICACION SET FECHA_CIERRE=@fecha_cierre, COMPLETADA=@chk, ESTADO=@ESTADO
WHERE IDNUEVAFABRICACION=@ID
GO
/****** Object:  StoredProcedure [dbo].[cmb_asociacion]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[cmb_asociacion]
as
select * from NUEVA_FABRICACION
GO
/****** Object:  StoredProcedure [dbo].[CMB_FABRICACION]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CMB_FABRICACION]
AS
SELECT * FROM FABRICACION
GO
/****** Object:  StoredProcedure [dbo].[CMB_NUEVAFABRICACION]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CMB_NUEVAFABRICACION]
AS
SELECT IDNUEVAFABRICACION,NROFABRICACION FROM
NUEVA_FABRICACION
GO
/****** Object:  StoredProcedure [dbo].[cmb_tarea]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[cmb_tarea]
as
select FABRICACION_ID, nombre_tarea
from tarea
GO
/****** Object:  StoredProcedure [dbo].[cmb_tipo_herramienta]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[cmb_tipo_herramienta]
as
select distinct(tipo) from HERRAMIENTAS
GO
/****** Object:  StoredProcedure [dbo].[CMB_USUARIO]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CMB_USUARIO]
AS
SELECT IDUSUARIO,USUARIO_NOMBRE FROM USUARIO
GO
/****** Object:  StoredProcedure [dbo].[CMB_USUARIO_DOS]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CMB_USUARIO_DOS] 
AS 
SELECT U.IDUSUARIO, U.USUARIO_NOMBRE FROM USUARIO U JOIN ROL R ON U.ROL_ID=R.IDROL
WHERE R.IDROL IN (1,3)
GO
/****** Object:  StoredProcedure [dbo].[CMB_USUARIO_UNO]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CMB_USUARIO_UNO] 
AS 
SELECT U.IDUSUARIO, U.USUARIO_NOMBRE FROM USUARIO U JOIN ROL R ON U.ROL_ID=R.IDROL
WHERE R.IDROL IN (2)
GO
/****** Object:  StoredProcedure [dbo].[CONSUMO_DOS]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CONSUMO_DOS]
@id int
as
SELECT SUM(CONSUMO_DOS) FROM PROCESO_FABRICACION where NRO_FABRICACION=@id
GO
/****** Object:  StoredProcedure [dbo].[CONSUMO_UNO]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CONSUMO_UNO]
@id int
AS
SELECt SUM(CONSUMO_UNO) FROM PROCESO_FABRICACION where NRO_FABRICACION=@id

GO
/****** Object:  StoredProcedure [dbo].[DOCUM_BUSCAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DOCUM_BUSCAR]
@ID INT
AS 
SELECT DOC 
FROM DOCUM WHERE FABRICACION_ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[EDITAR_HERRAMIENTAS]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[EDITAR_HERRAMIENTAS]
@ID INT,
@DESC VARCHAR(100),
@TIPO VARCHAR(100)
AS
UPDATE HERRAMIENTAS SET DESCRIPCION_HERRAMIENTA=@DESC, TIPO=@TIPO WHERE IDHERRAMIENTA=@ID
GO
/****** Object:  StoredProcedure [dbo].[estado_orden]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[estado_orden]
as
select distinct(estado) from NUEVA_FABRICACION where ESTADO is not null
ORDER BY ESTADO DESC
GO
/****** Object:  StoredProcedure [dbo].[FABRICACIONES_BUSCAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FABRICACIONES_BUSCAR]
@VALOR VARCHAR(50)
AS
SELECT * 
FROM NUEVA_FABRICACION N JOIN FABRICACION F ON N.FABRICACION_ID=F.IDFABRICACION
WHERE F.FABRICACION_NOMBRE LIKE '%'+@VALOR+'%'
GO
/****** Object:  StoredProcedure [dbo].[FABRICACIONES_LISTAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[FABRICACIONES_LISTAR]
AS
SELECT N.IDNUEVAFABRICACION, N.NROFABRICACION,N.FECHA_INICIO, F.FABRICACION_NOMBRE, U.USUARIO_NOMBRE,N.OBSERVACIONES,
N.COMPLETADA , N.FECHA_CIERRE, N.ESTADO
FROM NUEVA_FABRICACION N JOIN FABRICACION F ON N.FABRICACION_ID=F.IDFABRICACION
JOIN USUARIO U  ON N.IDUSUARIO=U.IDUSUARIO
order by IDNUEVAFABRICACION desc
GO
/****** Object:  StoredProcedure [dbo].[herramienta_buscar]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[herramienta_buscar]
@valor varchar(100)
as
select * from HERRAMIENTAS where DESCRIPCION_HERRAMIENTA like '%'+@valor+'%' or tipo like '%'+@valor+'%'
GO
/****** Object:  StoredProcedure [dbo].[herramienta_listar]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[herramienta_listar]
as
select * from HERRAMIENTAS
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_DOCUMENTO]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_DOCUMENTO]
@NOMBRE VARCHAR(100),
@DOC VARCHAR(250),
@FABRICACION_ID INT
AS
INSERT INTO DOCUM (NOMBRE,DOC,FABRICACION_ID)
VALUES (@NOMBRE,@DOC,@FABRICACION_ID)
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_HERRAMIENTA_ORDEN_BULK]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTA_HERRAMIENTA_ORDEN_BULK]

@IDEXISTE INT,
@ID INT
AS
INSERT INTO TAREA(ORDEN_TAREA,NOMBRE_TAREA,OBSERVACION,FABRICACION_NRO,T_ESTIMADO)
(SELECT ORDEN_TAREA,NOMBRE_TAREA,OBSERVACION, FABRICACION_NRO,T_ESTIMADO FROM TAREA 
WHERE FABRICACION_ID=@IDEXISTE
)
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_HERRAMIENTA]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_HERRAMIENTA]
@DESCRIPCION VARCHAR(100),
@TIPO VARCHAR(100)
AS
INSERT INTO HERRAMIENTAS(DESCRIPCION_HERRAMIENTA,TIPO)VALUES(@DESCRIPCION,@TIPO)
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_HERRAMIENTA_ORDEN]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_HERRAMIENTA_ORDEN]

@IDFABRICACION INT,
@IDHERRAMIENTA INT,
@CANT INT
AS
INSERT INTO ORDEN_HERRAMIENTAS(FABRICACION_ID,HERRAMIENTA_ID,CANTIDAD)
VALUES
(@IDFABRICACION,@IDHERRAMIENTA,@CANT)
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_NUEVA_TAREA]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_NUEVA_TAREA]
@ORDEN INT,
@NOMBRE_TAREA VARCHAR(100),
@OBSERVACION VARCHAR(100),
@FABRICACION_ID INT
AS 
INSERT INTO TAREA (ORDEN_TAREA,NOMBRE_TAREA,OBSERVACION,FABRICACION_ID)
VALUES(@ORDEN,@NOMBRE_TAREA,@OBSERVACION,@FABRICACION_ID)
GO
/****** Object:  StoredProcedure [dbo].[INSERTAR_NUEVA_TAREA_COPIA]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERTAR_NUEVA_TAREA_COPIA]
@ORDEN INT,
@NOMBRE_TAREA VARCHAR(100),
@OBSERVACION VARCHAR(100),
@FABRICACION_ID INT
AS 
INSERT INTO TAREA (ORDEN_TAREA,NOMBRE_TAREA,OBSERVACION,FABRICACION_ID)
VALUES(@ORDEN,@NOMBRE_TAREA,@OBSERVACION,@FABRICACION_ID)
GO
/****** Object:  StoredProcedure [dbo].[listar_orden_herramienta]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[listar_orden_herramienta]
@id int
as
select h.DESCRIPCION_HERRAMIENTA, h.TIPO , O.CANTIDAD
from ORDEN_HERRAMIENTAS O inner join HERRAMIENTAS h on O.HERRAMIENTA_ID=h.IDHERRAMIENTA
where O.FABRICACION_ID=@id
GO
/****** Object:  StoredProcedure [dbo].[NUEVA_FABRICACION_LISTAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NUEVA_FABRICACION_LISTAR]
AS

SELECT N.IDNUEVAFABRICACION AS 'NRO DE FABRICACION', N.FECHA_INICIO AS 'FECHA DE INICIO',
N.OBSERVACIONES AS 'NOTAS', F.FABRICACION_NOMBRE,t.ORDEN_TAREA ,T.NOMBRE_TAREA, U.USUARIO_NOMBRE AS 'REALIZA',
U1.USUARIO_NOMBRE AS 'CONTROL 1', U2.USUARIO_NOMBRE AS 'CONTROL 2'

FROM NUEVA_FABRICACION N JOIN PROCESO_FABRICACION P ON N.IDNUEVAFABRICACION=P.NRO_FABRICACION
LEFT JOIN TAREA T ON P.TAREA_ID=T.FABRICACION_ID
JOIN FABRICACION F ON P.FABRICACION_ID=F.IDFABRICACION
JOIN USUARIO U ON P.REALIZA=U.IDUSUARIO
JOIN USUARIO U1 ON P.CONTROLUNO=U1.IDUSUARIO
JOIN USUARIO U2 ON P.CONTROLDOS=U2.IDUSUARIO
GO
/****** Object:  StoredProcedure [dbo].[NUEVAFABRICACION_ACTUALIZAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NUEVAFABRICACION_ACTUALIZAR]
@IDNUEVAFABRICACION INT,
@FECHA_INICIO DATETIME,
@OBSERVACIONES VARCHAR(250) NULL,
@IDUSUARIO INT,
@NROFABRICACION VARCHAR(50),
@FABRICACION_ID INT
AS
INSERT INTO NUEVA_FABRICACION(IDNUEVAFABRICACION, FECHA_INICIO,OBSERVACIONES,IDUSUARIO,NROFABRICACION,FABRICACION_ID)
VALUES(@IDNUEVAFABRICACION, @FECHA_INICIO,@OBSERVACIONES,@IDUSUARIO,@NROFABRICACION,@FABRICACION_ID)
GO
/****** Object:  StoredProcedure [dbo].[NUEVAFABRICACION_ELIMINAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NUEVAFABRICACION_ELIMINAR]
@IDNUEVAFABRICACION INT
AS
DELETE FROM NUEVA_FABRICACION WHERE IDNUEVAFABRICACION=@IDNUEVAFABRICACION
GO
/****** Object:  StoredProcedure [dbo].[NUEVAFABRICACION_INSERTAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[NUEVAFABRICACION_INSERTAR]
@FECHA_INICIO DATETIME,
@OBSERVACIONES VARCHAR(250) NULL,
@IDUSUARIO INT,
@NROFABRICACION VARCHAR(50),
@FABRICACION_ID INT
AS
INSERT INTO NUEVA_FABRICACION(FECHA_INICIO,OBSERVACIONES,IDUSUARIO,NROFABRICACION,FABRICACION_ID,COMPLETADA)
VALUES(@FECHA_INICIO,@OBSERVACIONES,@IDUSUARIO,@NROFABRICACION,@FABRICACION_ID, 0)
GO
/****** Object:  StoredProcedure [dbo].[nuevo_proceso]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[nuevo_proceso]
@NRO_FABRICACION INT,
@FABRICACION_ID INT

as
insert into PROCESO_FABRICACION (FABRICACION_ID,TAREA_ID, CONTROLUNO,CONTROLDOS,NRO_FABRICACION)
select FABRICACION_ID,IDTAREA,20,20,@NRO_FABRICACION from TAREA t join FABRICACION f on t.FABRICACION_ID=f.IDFABRICACION
WHERE FABRICACION_ID=@FABRICACION_ID 
GO
/****** Object:  StoredProcedure [dbo].[OT_PROCESO_ACTUALIZA]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[OT_PROCESO_ACTUALIZA]
@REALIZA INT,
@FECHA DATETIME,
@NRO_FABRICACION int
AS

UPDATE PROCESO_FABRICACION SET REALIZA=@REALIZA, FECHA=@FECHA, NRO_FABRICACION=@NRO_FABRICACION
WHERE NRO_FABRICACION=@NRO_FABRICACION
GO
/****** Object:  StoredProcedure [dbo].[PROCESO_FABRICACION_ASOCIADO]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROCESO_FABRICACION_ASOCIADO]
@ID INT
AS

SELECT n.IDNUEVAFABRICACION, n.FECHA_INICIO, n.NROFABRICACION,
f.FABRICACION_NOMBRE,t.ORDEN_TAREA,t.NOMBRE_TAREA, U.USUARIO_NOMBRE,U1.USUARIO_NOMBRE,U2.USUARIO_NOMBRE,
T.OBSERVACION,p.FECHA,P.TAREA_ID,p.fecha_fin, P.T_REAL, P.CONSUMO_UNO, P.CONSUMO_DOS

FROM PROCESO_FABRICACION P 
INNER JOIN NUEVA_FABRICACION N ON P.NRO_FABRICACION=N.IDNUEVAFABRICACION
INNER JOIN FABRICACION F ON N.FABRICACION_ID=F.IDFABRICACION
INNER JOIN TAREA T ON P.TAREA_ID=T.IDTAREA
INNER JOIN USUARIO U ON N.IDUSUARIO=U.IDUSUARIO
INNER JOIN USUARIO U1 ON P.CONTROLUNO=U1.IDUSUARIO
INNER JOIN USUARIO U2 ON P.CONTROLDOS=U2.IDUSUARIO
--INNER JOIN USUARIO U2 
--INNER JOIN USUARIO U3 ON P.CONTROLDOS=U3.IDUSUARIO
WHERE N.IDNUEVAFABRICACION=@ID
GO
/****** Object:  StoredProcedure [dbo].[ROL_LISTAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ROL_LISTAR]
AS
SELECT IDROL, ROL_DESCRIP FROM ROL
WHERE ESTADO=1
GO
/****** Object:  StoredProcedure [dbo].[RPT_listar_orden_herramienta]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[RPT_listar_orden_herramienta]
@id int
as
select *
from ORDEN_HERRAMIENTAS O inner join HERRAMIENTAS h on O.HERRAMIENTA_ID=h.IDHERRAMIENTA
inner join NUEVA_FABRICACION N ON O.FABRICACION_ID=N.IDNUEVAFABRICACION
where O.FABRICACION_ID=@id
GO
/****** Object:  StoredProcedure [dbo].[RPT_ORDENES]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RPT_ORDENES]
@ID INT

AS

SELECT p.IDPROCESOFABRICACION,n.IDNUEVAFABRICACION, n.FECHA_INICIO, n.NROFABRICACION,
f.FABRICACION_NOMBRE,t.ORDEN_TAREA,t.NOMBRE_TAREA, U.USUARIO_NOMBRE,U1.USUARIO_NOMBRE,U2.USUARIO_NOMBRE,
T.OBSERVACION,p.FECHA,P.TAREA_ID,p.fecha_fin, P.T_REAL, P.CONSUMO_UNO, P.CONSUMO_DOS, N.COMPLETADA

FROM PROCESO_FABRICACION P 
INNER JOIN NUEVA_FABRICACION N ON P.NRO_FABRICACION=N.IDNUEVAFABRICACION
INNER JOIN FABRICACION F ON N.FABRICACION_ID=F.IDFABRICACION
INNER JOIN TAREA T ON P.TAREA_ID=T.IDTAREA
INNER JOIN USUARIO U ON N.IDUSUARIO=U.IDUSUARIO
INNER JOIN USUARIO U1 ON P.CONTROLUNO=U1.IDUSUARIO
INNER JOIN USUARIO U2 ON P.CONTROLDOS=U2.IDUSUARIO
--INNER JOIN USUARIO U2 
--INNER JOIN USUARIO U3 ON P.CONTROLDOS=U3.IDUSUARIO
WHERE N.IDNUEVAFABRICACION=@ID 
GO
/****** Object:  StoredProcedure [dbo].[RPT_TAREAS]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[RPT_TAREAS]
@IDFABRICACION INT
AS
SELECT F.FABRICACION_NOMBRE,T.ORDEN_TAREA,T.NOMBRE_TAREA,T.OBSERVACION 
FROM TAREA T JOIN FABRICACION F ON T.FABRICACION_ID=F.IDFABRICACION
WHERE F.IDFABRICACION=@IDFABRICACION
GO
/****** Object:  StoredProcedure [dbo].[TAREA_BUSCAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TAREA_BUSCAR]
@ID INT
AS 
select T.IDTAREA,T.ORDEN_TAREA,T.NOMBRE_TAREA,T.OBSERVACION,P.FABRICACION_NOMBRE
from TAREA T INNER JOIN FABRICACION P ON T.FABRICACION_ID=P.IDFABRICACION
WHERE T.FABRICACION_ID=@ID
order by ORDEN_TAREA asc
GO
/****** Object:  StoredProcedure [dbo].[TAREA_LISTAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TAREA_LISTAR]
AS
select T.IDTAREA,T.ORDEN_TAREA,T.NOMBRE_TAREA,T.OBSERVACION,P.FABRICACION_NOMBRE
from TAREA T INNER JOIN FABRICACION P ON T.FABRICACION_ID=P.IDFABRICACION
GO
/****** Object:  StoredProcedure [dbo].[TAREAS_COMPLETADAS]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TAREAS_COMPLETADAS]
@ID INT
AS
SELECT COUNT(CONTROLDOS)
FROM PROCESO_FABRICACION
WHERE CONTROLDOS NOT IN (20) AND NRO_FABRICACION=@ID
GO
/****** Object:  StoredProcedure [dbo].[TAREAS_PENDIENTES]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TAREAS_PENDIENTES]
@ID INT
AS
SELECT COUNT(CONTROLDOS)
FROM PROCESO_FABRICACION
WHERE CONTROLDOS  IN (20) AND NRO_FABRICACION=@ID
GO
/****** Object:  StoredProcedure [dbo].[TIPO_FABRICACION_INSERTAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIPO_FABRICACION_INSERTAR]
@VALOR VARCHAR(100)
AS
INSERT INTO FABRICACION (FABRICACION_NOMBRE) VALUES(@VALOR)
GO
/****** Object:  StoredProcedure [dbo].[TIPO_FABRICACION_LISTAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[TIPO_FABRICACION_LISTAR]
AS
SELECT * FROM FABRICACION
order by IDFABRICACION desc
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_ACTIVAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_ACTIVAR]
@IDUSUARIO INT
AS 
UPDATE USUARIO SET ESTADO=1
WHERE IDUSUARIO=@IDUSUARIO
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_ACTUALIZAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_ACTUALIZAR]
@IDUSUARIO INT,
@IDROL INT,
@USUARIO_NOMBRE VARCHAR(50),
@CONTRASEÑA VARCHAR(50)
AS
IF @CONTRASEÑA<>''
UPDATE USUARIO SET ROL_ID=@IDROL, USUARIO_NOMBRE=@USUARIO_NOMBRE, CONTRASEÑA=HASHBYTES('SHA_256',@CONTRASEÑA)
WHERE IDUSUARIO=@IDUSUARIO;
ELSE 
UPDATE USUARIO SET ROL_ID=@IDROL, USUARIO_NOMBRE=@USUARIO_NOMBRE
where IDUSUARIO=@IDUSUARIO
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_BUSCAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_BUSCAR]
@VALOR VARCHAR(50)
AS
SELECT U.IDUSUARIO AS ID, U.ROL_ID,U.USUARIO_NOMBRE AS USUARIO ,R.ROL_DESCRIP AS ROL, U.ESTADO AS ESTADO
FROM USUARIO U INNER JOIN ROL R ON U.ROL_ID=R.IDROL
WHERE U.USUARIO_NOMBRE LIKE '%'+@VALOR+'%'
ORDER BY U.USUARIO_NOMBRE ASC
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_DESACTIVAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_DESACTIVAR]
@IDUSUARIO INT
AS 
UPDATE USUARIO SET ESTADO=0
WHERE IDUSUARIO=@IDUSUARIO
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_ELIMINAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_ELIMINAR]
@IDUSUARIO INT
AS 
DELETE FROM USUARIO WHERE IDUSUARIO=@IDUSUARIO
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_EXISTE]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_EXISTE]
@VALOR VARCHAR(100),
@EXISTE BIT OUTPUT
AS
	IF EXISTS (SELECT USUARIO_NOMBRE FROM USUARIO WHERE USUARIO_NOMBRE =LTRIM(RTRIM(@VALOR)))
	BEGIN
	SET @EXISTE=1
	END
	ELSE
	BEGIN
	SET @EXISTE=0
	END
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_INSERTAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_INSERTAR]
@IDROL INT,
@USUARIO_NOMBRE VARCHAR(50),
@CONTRASEÑA VARCHAR(50)

AS

INSERT INTO USUARIO(ROL_ID,USUARIO_NOMBRE,CONTRASEÑA)
VALUES (@IDROL,@USUARIO_NOMBRE,HASHBYTES('SHA2_256',@CONTRASEÑA))
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_LISTAR]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_LISTAR]
AS
SELECT U.IDUSUARIO AS ID, U.ROL_ID,U.USUARIO_NOMBRE AS USUARIO ,R.ROL_DESCRIP AS ROL, U.ESTADO AS ESTADO
FROM USUARIO U INNER JOIN ROL R ON U.ROL_ID=R.IDROL
GO
/****** Object:  StoredProcedure [dbo].[USUARIO_LOGIN]    Script Date: 25/04/2021 21:52:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USUARIO_LOGIN]
@USUARIO VARCHAR(50),
@CONTRASEÑA VARCHAR(10)
AS
SELECT U.IDUSUARIO,U.ROL_ID, R.ROL_DESCRIP AS ROL, U.USUARIO_NOMBRE, U.ESTADO
FROM USUARIO U INNER JOIN ROL R ON U.ROL_ID=R.IDROL
WHERE U.USUARIO_NOMBRE=@USUARIO AND U.CONTRASEÑA=HASHBYTES('SHA2_256',@CONTRASEÑA)
GO
USE [master]
GO
